

.home {
  padding: 20px;
}


.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 5px 0 0 5px;
  background-color: #333;
  color: white;
}

.search-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #e50914; 
  color: white;
  cursor: pointer;
}



.movie-grid {
  display: grid;
  
  
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  

  gap: 20px; 
}