

.movie-card {
  
  background-color: transparent; 
  border-radius: 8px;
  overflow: hidden; 
  color: white;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.05); 
}

.movie-poster {
  position: relative; /
}


.movie-poster img {
  width: 100%; 
  height: auto; 
  display: block;
  border-radius: 8px; 
}


.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.movie-info {
  padding: 10px 5px;
}

.movie-info h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 5px 0;
  
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-info p {
  font-size: 0.85rem;
  color: #ccc;
  margin: 0;
}